<div class="container divSup">
    <h1>POLÍTICA DE PRIVACIDAD Y CONDICIONES DE SERVICIO</h1>
    <br /><br />
    <p>
        La presente Política de Privacidad, establece los términos en que
        <b>Ahorcado Game</b> usa y protege la información que es proporcionada por sus usuarios al momento de iniciar sesión en el juego. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. <br /><br /> Cuando le pedimos llenar
        los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. <br /><br /> Sin embargo esta Política de Privacidad puede cambiar con el tiempo
        o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.
    </p>
    <h3>Información que es recogida</h3>
    <br /><br />
    <p>
        Nuestro juego recogerá la siguiente información personal: Nombre, dirección de correo electrónica y url de la foto de su perfíl de
        <b>Facebook</b>. Así mismo cuando sea necesario podrá ser requerida información específica para procesar algún pedido o realizar una entrega o facturación.
    </p>

    <h3>Uso de la información recogida</h3>
    <br /><br />
    <p>
        Nuestro juego emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, máxima puntuación obtenida y mejorar nuestros productos y servicios.<br
        /><br />Es posible que sean enviados correos electrónicos a través de nuestro juego con nuevas funcionalidades y otra información publicitaria que consideremos relevante para usted, o que pueda brindarle algún beneficio, estos correos electrónicos
        serán enviados a la dirección que obtengamos de la red social <b>Facebook</b> y podrán ser cancelados en cualquier momento.<br /><br /><b>Ahorcado Game</b> está altamente comprometido para cumplir con el compromiso de mantener su información segura.
        Usamos los servicios de <b>Firebase</b> y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.
    </p>
    <h3>Cookies</h3>
    <br /><br />
    <p>
        Por el momento no empleamos Cookies en este juego
    </p>
    <h3>Enlaces a Terceros</h3>
    <br /><br />
    <p>
        El único enlace a terceros que usamos es hacia la red social
        <b>Facebook</b> y lo hacemos única y exclusivamente para las acciones antes mencionadas
    </p>
    <h3>Control de su información personal</h3>
    <br /><br />
    <p>
        Su información personal no será suministrada de ninguna manera a ningún tercero. Puede darse de baja de nuestro juego en la pantalla Amigos dando click en el botón <b>Darse de baja</b>
    </p>
</div>