<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <app-palabras-game></app-palabras-game>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <app-ahorcado-game></app-ahorcado-game>
    </div>
    <!-- <div class="col-sm-12 col-md-6">
      <app-ayudas-game></app-ayudas-game>
    </div> -->
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <app-letras-game></app-letras-game>
    </div>
    <!-- <div class="col-sm-12 col-md-6">
      <app-jugadores-game></app-jugadores-game>
    </div> -->
  </div>
</div>
