<div class="content" role="main">
  <table id="tableGame">
    <tr>
      <td>
        <table style="height: 80px; width: 500px;" border="1">
          <tr>
            <td>
              <app-palabras-game></app-palabras-game>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table style="height: 300px; width: 500px;" border="1">
          <tr>
            <td style="height: 300px; width: 400px;">
              <app-ahorcado-game></app-ahorcado-game>
            </td>
            <td style="height: 300px; width: 100px;">
              <app-ayudas-game></app-ayudas-game>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table style="height: 150px; width: 500px;" border="1">
          <tr>
            <td style="height: 150px; width: 250px;">
              <app-letras-game></app-letras-game>
            </td>
            <td style="height: 150px; width: 250px;">
              <app-jugadores-game></app-jugadores-game>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
