/* You can add global styles to this file, and also import other style files */

.containerTable {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.tamTable {
    width: 90%;
}

.pnlSup {
    margin: 2px;
}

.pantallaFija {
    width: 70%;
    height: 80%;
}

.tamLetter {
    width: 1.9em;
    margin: -0.6em;
    padding-top: 6px;
    padding-left: 8px;
}

.palabras {
    height: 1em;
    width: 1em;
}